<!-- applying a class on a div if the user is current_user -->
<div class="chatroom d-flex <%= "sender" if message.user == current_user %> ">
  <% unless message.user == current_user %>
    <%= cl_image_tag current_user.photo.attached? ? current_user.photo.key : "avatar_lrtyy7", class: "avatar-mini bottom" %>
  <% end %>
  <div class="message-container" id="message-<%= message.id %>">
    <i class="author">
      <span><%= message.user.name %></span>
      <small><%= format_message_time(message.created_at) %></small>
    </i>
    <p><%= message.content %></p>
  </div>

  <% if message.user == current_user %>
    <%= cl_image_tag current_user.photo.attached? ? current_user.photo.key : "avatar_lrtyy7", class: "avatar-mini bottom" %>
  <% end %>

</div>
