<!--HEADLINE -->
<div class="container">
  <h2 class="mb-4  text-center">Ready for your clean <%= "#{current_user.name}" %>?</h2>

  <!--Card -->
  <div class="card card-dashboard">
    <div class="card-body">
      <div class="card-item">
        <div class="card-icon-container"><i class="far fa-calendar fa-fw"></i></div>
        <h3 class="ml-3"><%= @booking.date.strftime("%d/%m/%Y") %> </h3>
      </div>
      <div class="card-item">
        <div class="card-icon-container"><i class="far fa-clock fa-fw"></i></div>
        <h3 class="ml-3"><%= @booking.date.strftime("%H:%M") %> </h3>
      </div>
      <div class="card-item">
        <div class="card-icon-container"><i class="fas fa-map-marker-alt fa-fw"></i></div>
        <h3 class="ml-3"><%= @booking.property.address %></h3>
      </div>
      <div class="card-item">
        <div class="card-icon-container"><i class="fas fa-euro-sign fa-fw"></i></div>
        <h3 class="ml-3"><%= @booking.cost.round %> </h3>
      </div>

      <% if @booking.booking_log.nil? %>
        <button class="btn-dark mt-4" id="alert-checkin">Check in</button>
        <%= link_to "", checkin_booking_booking_logs_path(@booking, source: "show"), method: :post, remote: true, id: "update-checkin", class: "hidden" %>
      <% elsif @booking.booking_log.checkin_date_time.present? && @booking.booking_log.checkout_date_time.nil? %>
        <button class="btn-dark mt-4" id="alert-checkout">Check out</button>
        <%= link_to "", checkout_booking_booking_logs_path(@booking, source: "show"), method: :put, remote: true, id: "update-checkout", class: "hidden" %>
      <% end %>

      <div class="card-item card-button mt-2">
        <%= link_to "#", class:"btn-green mr-1" do %>
          <i class="far fa-comments"></i> CHAT
        <% end %>
        <%= link_to "#", class:"btn-green ml-1" do %>
          <i class="fas fa-times"></i> CANCEL
        <% end %>
      </div>
    </div>
  </div>

<!--DETAILS -->
  <div class="details">
    <h3 class="mb-2">Service details:</h3>
    <% @booking.booking_tasks.each do |t| %>
      <h4 class="mb-2"> <i class="fas fa-check grey"></i> <%= t.task.title %></h4>
    <% end %>
  </div>

  <div class="details">
    <h3 class="mb-2">Comments:</h3>
    <h4> <%= @booking.comment %> </h4>
  </div>
</div>


<!--MAP -->
<div id="map"
     style="width: 100%; height: 400px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>

<!--FOOTER -->
<%= render 'shared/dashboard_footer_cleaner' %>
