<div class="container">

  <h2 class="text-center mb-4">Forgot your password?</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Reset password", class: "btn-dark mt-4 mb-4" %>
    </div>
  <% end %>
    <div class="d-flex my-3">
    <hr style="width:40%"> <span class="">or</span> <hr style="width:40%">
  </div>
<%- if controller_name != 'sessions' %>
  <%= link_to "Log in", new_session_path(resource_name), class: "btn-green" %><br />
<% end %>
</div>
