<div class="container">
  <%= render 'shared/progressbar' %>

  <h2 class="text-center mt-4 mb-5">Describe a property<br>to be cleaned</h2>

  <%= simple_form_for [@property] do |f| %>
    <h3 class="mb-2">Your property</h3>
    <%= f.input_field :property_type, as: :radio_buttons, collection: ['Apartment', 'House'],
                class: "property-form", item_wrapper_class: 'tag-item',
                collection_wrapper_tag: 'div', collection_wrapper_class: 'property-type-wrapper' %>

    <div class="inline-input mt-5 mb-4">
      <%= f.input :size, label: "Total m2", html5: true %>

      <hr>

      <span class="input-transparent">
        <div class="form-container">
          <%= f.label :bedroom_count, label: "Bedroom", html5: true %>
          <div class="plus-minus">
            <span class="clickable-fontAwesome"><%= image_tag('https://www.flaticon.com/svg/static/icons/svg/864/864373.svg', size: "30", id: "numberDownBed" ) %></span>
            <%= f.input_field :bedroom_count,  html5: true, id: "numberBedRooms", min: "0", max: "15", value: "1" %>
            <span class="clickable-fontAwesome"><%= image_tag('https://www.flaticon.com/svg/static/icons/svg/864/864378.svg', size: "30", id: "numberUpBed" ) %></span>
          </div>
        </div>

        <hr>

        <div class="form-container">
          <%= f.label :bathroom_count, label: "Bathroom", html5: true %>
          <div class="plus-minus">
            <span class="clickable-fontAwesome"><%= image_tag('https://www.flaticon.com/svg/static/icons/svg/864/864373.svg', size: "30", id: "numberDownBath" ) %></span>
            <%= f.input_field :bathroom_count, html5: true, id: "numberBathRooms", min: "0", max: "15", value: "1" %>
            <span class="clickable-fontAwesome"><%= image_tag('https://www.flaticon.com/svg/static/icons/svg/864/864378.svg', size: "30", id: "numberUpBath" ) %></span>
          </div>

        </div>

        <hr>

      </span>
    </div>

    <%= f.input :address, label: false, placeholder: "Enter your address" %>

    <%= render 'shared/form_next', f: f %>
  <% end %>

</div>

<%= render 'shared/footer' %>
