<div class="container">
  <h1 class="text-center mb-3">Describe a property to be cleaned</h1>

  <%= simple_form_for [@property] do |f| %>
    <%= f.input :property_type, as: :radio_buttons, label: "Your Property", collection: ['Apartment', 'House'],
                input_html: { class: "property-form" }, item_wrapper_class: 'tag-item',
                collection_wrapper_tag: 'div', collection_wrapper_class: 'category-wrapper' %>

    <div class="inline-input">
      <%= f.input :size, label: "Total m2", html5: true %>
      <hr>

      <span class="input-transparent">

        <!--        Making font awesome clickable-->
        <span class="clickable-fontAwesome"><i id="numberDownBed" class="fas fa-minus"></i></span>
        <%= f.input :bedroom_count, label: "Bedroom", html5: true, input_html: { id: "numberBedRooms", min: "0", max: "15", value: "1" } %>
        <!--        Making font awesome clickable-->
        <span class="clickable-fontAwesome"><i id="numberUpBed" class="fas fa-plus"></i></span>
        <hr>
        <!--        Making font awesome clickable-->
        <span class="clickable-fontAwesome"><i id="numberDownBath" class="fas fa-minus"></i></span>
        <%= f.input :bathroom_count, label: "Bathroom", html5: true, input_html: { id: "numberBathRooms", min: "0", max: "15", value: "1" } %>
        <!--        Making font awesome clickable-->
        <span class="clickable-fontAwesome"><i id="numberUpBath" class="fas fa-plus"></i></span>
        <hr>
      </span>
    </div>

    <%= f.input :address, label: false, placeholder: "Enter your address" %>

    <%=f.submit "Next", class: "btn-dark mt-4" %>
  <% end %>

</div>

<%= render 'shared/footer' %>
