<div class="container">

  <div class="footer">
    <hr>

    <div class="row">
      <div class="col-12">
        <div class="dashboard-icons">
          <%= link_to dashboard_path do %>
            <%= image_tag('https://www.flaticon.com/svg/static/icons/svg/263/263115.svg', size: "25") %>
            <h6 class="mt-2"> Bookings </h6>
          <% end %>

          <%= link_to new_property_path do %>
            <%= image_tag('https://www.flaticon.com/svg/static/icons/svg/748/748113.svg', size: "25") %>
            <h6 class="mt-2"> Add property </h6>
          <% end %>

          <%= link_to dashboard_path do %>
            <%= image_tag('https://www.flaticon.com/svg/static/icons/svg/996/996484.svg', size: "25") %>
            <h6 class="mt-2"> Profile </h6>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
