<div class="container">

  <div class="footer">
    <hr>

    <div class="row">
      <div class="col-12">
        <div class="dashboard-icons">
          <%= link_to dashboard_path do %>
            <%= image_tag('https://www.flaticon.com/svg/static/icons/svg/263/263115.svg', size: "25") %>
            <h6 class="mt-2"> Dashboard </h6>
          <% end %>

          <%= link_to dashboard_path do %>
            <%= image_tag('https://www.flaticon.com/free-icon/wallet_2746064?term=wallet&page=1&position=30&related_item_id=2746064', size: "25") %>
            <h6 class="mt-2"> Wallet </h6>
          <% end %>

          <%= link_to dashboard_path do %>
            <%= image_tag('https://www.flaticon.com/svg/static/icons/svg/996/996484.svg', size: "25") %>
            <h6 class="mt-2"> Profile </h6>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

