<div style="height: 80px"></div>
<div class="footer-dashboard">
  <div class="container">

    <div class="row">
      <div class="col-12">
        <div class="dashboard-icons">
          <%= link_to dashboard_path do %>
            <%= image_tag('https://www.flaticon.com/svg/static/icons/svg/263/263115.svg', size: "25") %>
            <h6 class="mt-2"> Dashboard </h6>
          <% end %>

          <%= link_to dashboard_path(nav:"wallet") do %>
            <%= image_tag('https://www.flaticon.com/svg/static/icons/svg/482/482541.svg', size: "25") %>
            <h6 class="mt-2"> Wallet </h6>
          <% end %>

          <%= link_to chatrooms_path do %>
            <% if  Message.unread_by(current_user).count > 0 %>
              <div class="chat-count">
                <%= image_tag('https://www.flaticon.com/svg/static/icons/svg/589/589671.svg', size: "25") %>
                  <span class="dot">
                  <%= Message.unread_by(current_user).count %> </span>
              </div>
            <% else %>
            <%= image_tag('https://www.flaticon.com/svg/static/icons/svg/589/589671.svg', size: "25") %>
            <% end %>
            <h6 class="mt-2"> Chat </h6>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
