<div class="navbar">

</div>

<div class="container text-center">
  <h1 class="mb-4">Always deliver a clean stay</h1>
  <h4 class="mb-2">Match your property with <br>our high-quality & reliable cleaners.</h4>
</div>

<div class="banner container" style="background-image: url(<%= image_path "cleaner.svg" %>)">
  <div class="wrapper">
    <%= link_to "Find cleaner", "#", class:"btn-dark btn-container"%>
  </div>
</div>

<div class="container">
  <h2 class="text-center mt-5">How it works</h2>

  <div class="booking-step">
    <i class="far fa-map"></i>
    <div class="step-text">
      <h4>1. Enter your postcode</h4>
      <p>Find the best cleaner in your area.</p>
    </div>
  </div>

  <div class="booking-step">
    <i class="far fa-calendar"></i>
    <div class="step-text">
      <h4>2. Choose your preferred date</h4>
      <p>Our cleaners are there, whenever you need them.</p>
    </div>
  </div>

  <div class="booking-step">
    <i class="far fa-user"></i>
    <div class="step-text">
      <h4>3. Match and book</h4>
      <p>We match your property with the perfect Cleaner.</p>
    </div>
  </div>
</div>

<div class="boxes">
  <div class="box border-right border-bottom border-white">
    <h4>More than</h4>
    <h2>3M</h2>
    <h4>cleans</h4>
  </div>

  <div class="box border-left border-bottom border-white">
    <h4>Average</h4>
    <h2>4.9</h2>
    <h4>rating</h4>
  </div>

  <div class="box border-right border-top border-white">
    <h4>Over</h4>
    <h2>1.500</h2>
    <h4>properties</h4>
  </div>

  <div class="box border-left border-top border-white">
    <h4>More than</h4>
    <h2>500</h2>
    <h4>happy customers</h4>
  </div>
</div>

<div class="container">
  <h2 class="text-center mt-5 mb-4">Happy customers</h2>


  <% Review.all.sample(2).each do |review| %>
    <div class="card">
      <div class="card-body">
        <h5><%= review.property_manager_name %> </h5>
        <h3><%= review.title %></h3>
        <% review.rating.times do |i| %>
          <i class="fas fa-star"></i>
        <% end %>
        <% (5 - review.rating).times do |i| %>
          <i class="far fa-star"></i>
        <% end %>
        <h4><%= review.description %> </h4>
      </div>
    </div>
  <% end %>

</div>

<div class="container">
  <h2 class="text-center mt-5 mb-4">Find your cleaner now!</h2>
  <%= link_to "Find cleaner", "#", class:"btn-dark mt-3"%>
</div>

<%= render 'shared/footer' %>
